.creer {
  padding-top: 50px;
}

.creerImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.Formulaire {
  position: relative;
}

.Forum {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.creerIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(121, 118, 118);
  cursor: pointer;
}

.saisirFichier {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.Forum:focus {
  outline: none;
}

.Texte {
  font-size: 20px;
  height: 100vh;
}

.envoyerfichier {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: #4b5320;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
